body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: blue;
 
}
.form-sign{
    flex-direction: column;
    display: flex;
    margin: 8px 0;
    justify-content: center;
    background: white;
    padding: 30px;
    width: 200px;
    height: 400px;
    
   
}
.sign{
    height: 30px;
    margin-bottom: 8px;
}
