body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: brown
  
 
}
.form-sign{

    background-color:white;
    padding:50px 50px;
 
    
}
input[type=text] , input[type=password]{
    display: flex;
    flex-direction: column;
    margin: 5px 0 ;
    padding: 8px 4px;
    width: 300px;
   
 
}  

    